{% extends "base.html.twig" %}

{% block body %}

    <div class="container">

        <h1 class="mt-4">Modification de l'ingrédient</h1>

        {{ form_start(form, {'id': 'formulaire'}) }}

            <div class="form-group">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
                <div class="form-error">
                    {{ form_errors(form.name) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.price) }}
                {{ form_widget(form.price) }}
                <div class="form-error">
                    {{ form_errors(form.price) }}
                </div>
            </div>

            <div class="form-group modif">
                {{ form_row(form.submit, {'label': 'Modifier l\'ingrédient', 'id': 'swa-confirm-edit'}) }}
            </div>

    {{ form_end(form) }}

    </div>

    {# Liens vers la librairie SweetAlert et le code JS associé à la confirmation de modification #}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/sweetAlert_EditIngredient.js"></script>
    
{% endblock %}