{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Mes recettes{% endblock %}

{% block body %}

    <div class="container mt-4">

        <h1>Mes recettes</h1>

        {% if not recipes.items is same as ([]) %}
    
            {# total items count #}
            <div class="count">
                <small>{{ recipes.getTotalItemCount }} recettes disponibles</small>
            </div>

            {# read and display just one flash message type #}
            {% for message in app.flashes('success') %}          {# success = Nom de l'alerte  #}
                <div class="alert alert-success mt-4">           {# alert-sucess = Type d'alerte Bootstrap #}
                    <h5>{{ message.info }}</h5>
                    {{message.bonus}}
                </div>
            {% endfor %}

            {% for message in app.flashes('warning') %}          {# warning = Nom de l'alerte  #}
                <div class="alert alert-warning mt-4">           {# alert-warning = Type d'alerte Bootstrap #}
                    <h5>{{ message.info }}</h5>
                    {{message.bonus}}
                </div>
            {% endfor %}

            {% for message in app.flashes('danger') %}          {# danger = Nom de l'alerte  #}
                <div class="alert alert-danger mt-4">           {# alert-danger = Type d'alerte Bootstrap #}
                    <h5>{{ message.info }}</h5>
                    {{message.bonus}}
                </div>
            {% endfor %}

            <a href="{{ path('recipe.new') }}" class="btn btn-success mt-4">Ajouter une recette</a>

            <table class="table table-hover mt-4">
                <thead>
                    <tr>
                        <th scope="col">Numéro (ID)</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Difficulté</th>
                        <th scope="col">Date de création</th>
                        <th scope="col">Edition</th>
                        <th scope="col">Suppression</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recipe in recipes %}
                        <tr class="table-primary">
                            <th scope="row">{{ recipe.id }}</th>
                            <td>{{ recipe.name }}</td>
                            <td>{{ (recipe.price is same as(null)) ? 'Non renseigné' : recipe.price }}</td>
                            <td>{{ (recipe.difficulty is same as(null)) ? 'Non renseigné' : recipe.difficulty }}</td>
                            <td>{{ recipe.createdAt|date("d/m/Y") }}</td>
                            <td><a href="{{ path('recipe.edit', { id: recipe.id }) }}" class="btn btn-info">Modifier</a></td>
                            <td><a href="{{ path('recipe.delete', { id: recipe.id }) }}" class="btn btn-danger supp" id="id_lien_supprimer_recette">Supprimer</a></td>
                        </tr>

                    {% endfor %}

                </tbody>
            </table>


            {# Script JS de confirmation pour la suppression d'un ingredient (version "classique")
            <script> 
            
                const confirmation_supprimer = document.querySelectorAll(".supp");
                
                confirmation_supprimer.forEach(element => {
                    element.addEventListener("click", confirmDelete)
                });

                function confirmDelete(e)
                {
                    if(!confirm('Voulez-vous supprimer cet ingrédient ?')) 
                    {
                        e.preventDefault();
                    }
                }
            </script> #}


            {# Liens vers la librairie SweetAlert et le code JS associé à la confirmation de suppression #}
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script src="/js/sweetAlert_DeleteRecipe.js"></script>


            <div class="navigation">
                {{ knp_pagination_render(recipes) }}
            </div>
        
        {% else %}
            <small> Aucune recette disponible...</small>
        {% endif %}

    </div>

{% endblock %}
